<html>
  <head>
  </head>
  <body background="imgs/보노보노.jpg">
    <% include ./body.ejs %>
    <h3>보노보노 게임랜드에 오신걸 환영합니다</h3>
    회원가입 없이 이름이나 닉네임 입력으로 로그인이 가능합니다<br>
    하시고자 하는 게임을 선택하시면 됩니다.<br>
    즐거운 시간되세요<br>

  </body>
</html>
